Assignment8/Schema/Success.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://jw.nju.edu.cn/schema"
  targetNamespace="http://jw.nju.edu.cn/schema"
  elementFormDefault="qualified">

	<element name="成功信息" type="tns:成功类型"/>

	<complexType name="成功类型">
		<sequence>
			<element name="修改地址成功" type="string"/>
			<element name="重置密码成功" type="string"/>
		</sequence>
	</complexType>

</schema>
